*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #03001C;
  color: #ffffff;
  
}


header nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
}

header nav .navList ul{
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
}

header nav .menu{
  display: none;
  flex-direction: column;
  gap: 5px;
}

header nav .menu span{
  display: inline-block;
  width: 1.2rem;
  height: 1px;
  background-color: #ffffff;
}




header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 100vh;
}

header .hero p{
  font-size: 2em;
  color: #5B8FB9;
}


header .hero h1{
  font-size: 5em;
  
}

header .hero .btnHero{
  margin-top: 1rem;
  display: flex;
}

header .hero .btnHero button{
  width: 10rem;
  height: 2.5rem;
  background-color: #03001C;
  color: #ffffff;
  border: 1px solid #5B8FB9;
}

header .hero .btnHero img{
  height: 2.5rem;
  background-color: #5B8FB9;
  padding: 10px;
  
}

header .hero .square{
  width: 50vw;
  height: 100%;
  background-color: #5B8FB9;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about .card{
  max-width: 20rem;
  margin: 1rem;
  background-color: #5B8FB9;
}

.about .card img{
  width: 100%;
  height: 100%;
  position: static;
  top: -1.5rem;
  right: -1.5rem;
}

.about .text{
  max-width: 35rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about .text h1{
  font-size: 3em;
}

.about .text h1::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #5B8FB9;
  display: block;
  margin-top: 1rem;
}

.about .text .btn-about {
  display: flex;
  gap: 10px;
}

.about .text .btn-about button{
  width: 8rem;
  height: 2rem;
}

.about .text .btn-about button:nth-of-type(1){
  background-color: #5B8FB9;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.about .text .btn-about button:nth-of-type(2){
  background-color: #03001C;
  color: #ffffff;
  border: 1px solid #ffffff;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 1rem;
}

.skills-section .text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 35rem;
}

.skills-section .text h1 {
  font-size: 3em;
}

.skills-section .text h1::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #5B8FB9;
}

.skills-section .text .description {
  max-width: 40rem;
  margin-bottom: 1rem;
}

.bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.html, .css, .javascript {
  max-width: 20rem;
}

.barHtml, .barCss, .barJavascript{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.barHtml span,
.barCss span,
.barJavascript span {
  display: inline-block;
  width: 100%;
  height: 1rem;
  background-color: #ffffff;
  position: relative;
}

.barHtml span::after,
.barCss span::after,
.barJavascript span::after {
  content: " ";
  height: 1rem;
  background-color: #5B8FB9;
  position: absolute;
}

.barHtml span::after {
  width: 80%;
}

.barCss span::after {
  width: 70%;
}

.barJavascript span::after {
  width: 50%;
}

.skills-section .images{
  max-width: 25rem;
}

.skills-section .images img{
  width: 100%;
}

.project-section{
  height: 100vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project{
  display: flex;
  gap: 2rem;
}

.project-section .title h1{
  font-size: 3em;
}

.project .card .card-images{
  max-width: 20rem;
}
.project .card{
  background-color: #ffffff;
  max-width: 20rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2px;
}

.project .card .card-title h3{
  font-size: 1.5em;
  color: #03001C;
}

.project .card .card-tech p{
  color: #5B8FB9;
  font-size: 0.9em;
  color: #03001C;
  margin-bottom: 1rem;
}

.project .card .card-images img{
  width: 100%;
}

.project .card .btn-card{
  display: flex;
  gap: 1rem;
}

.project .card .btn-card button{
  width: 8rem;
  height: 2rem;
}

.project .card .btn-card button:nth-of-type(1){
  background-color: #5B8FB9;
  border: 1px solid #03001C;
  color: #ffffff;
}

.project .card .btn-card button:nth-of-type(2){
  background-color: #03001C;
  border: 1px solid #5B8FB9;
  color: #ffffff;
}





@media (max-width: 576px){

  header nav {
      transition: height 0.5s ease-in-out;
      height: 5rem;
      background-color: #03001C;
  }

  header nav .logo{
      position: absolute;
      left: 2rem;
      top: 2rem;
      font-size: 0.85em;
  }
  
  header nav .navList ul{
      flex-direction: column;
      gap: 1.5rem;
      font-size: 0.85em;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  }

  header nav .menu{
      display: flex;
      position: absolute;
      right: 2rem;
      top: 2rem;
  }

  .navOpen{
      height: 100%;
      transition: height 0.5s ease-in-out;

  }

  .navOpen .navList ul{
      flex-direction: column;
      gap: 1.5rem;
      font-size: 0.85em;
      max-height: 500px; 
      opacity: 1;
      transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
  }


  header .hero p{
      font-size: 1em;
  }

  header .hero h1{
      font-size: 1.7em;
  }

  header .square{
      display: none;
  }

  header .hero .btnHero button{
      width: 10rem;
      height: 1.8rem;
      font-size: 0.7em;
  }
  
  header .hero .btnHero img{
      height: 1.8rem;
      background-color: #5B8FB9;
      padding: 8px;
      
  }

  section{
      height: 100%;
  }

  .about{
      flex-direction: column;
      gap: 1rem;
  }

  .about .card{
      margin: 1rem 5rem;
  }

  .about .text h1{
      font-size: 1.5em;
  }

  .about .text h1::after{
      margin-top: 10px;
  }

  .about .text p{
      font-size: 0.85em;
  }

  .skills-section{
      flex-direction: column-reverse;
      margin: 5rem 1rem;
      gap: 2rem;
  }

  .skills-section .text h1{
      font-size: 1.5em;
  }

  .skills-section .text p{
      font-size: 0.85em;
  }

  .barHtml span,
  .barCss span,
  .barJavascript span {
      height: 10px;
  }

  .barHtml span::after,
  .barCss span::after,
  .barJavascript span::after {
      height: 10px;
  }

  .barHtml p,
  .barCss p,
  .barJavascript p {
      font-size: 0.9em;
  }

  .skills-section .images{
      margin: 1rem 3rem;
  }

  .project-section{
    height: 100%;
    margin: 1rem;
  }

  .project-section .title h1{
    font-size: 1.5em;
  }

  .project{
    flex-direction: column;
    gap: 1rem;
  }

  .project .card .card-title h3{
    font-size: 1.2em;
  }

  .project .card .card-tech p{
    font-size: 0.8em;
  }

  .project .card .btn-card button{
    width: 6rem;
    height: 1.8rem;
    font-size: 0.7em;
  }
}

@media (min-width: 576px) and (max-width:768px){
  header nav {
      transition: height 0.5s ease-in-out;
      height: 5rem;
      background-color: #03001C;
  }

  header nav .logo{
      position: absolute;
      left: 2rem;
      top: 2rem;
      font-size: 1em;
  }
  
  header nav .navList ul{
      flex-direction: column;
      gap: 2rem;
      font-size: 1em;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  }

  header nav .menu{
      display: flex;
      position: absolute;
      right: 2rem;
      top: 2rem;
      gap: 6px;
  }

  header nav .menu span{
      width: 1.4rem;
  }

  .navOpen{
      height: 100%;
      transition: height 0.5s ease-in-out;
      
  }

  .navOpen .navList ul{
      flex-direction: column;
      gap: 2rem;
      font-size: 1em;
      max-height: 500px; 
      opacity: 1;
      transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
  }

  header .hero p{
      font-size: 1.5em;
  }

  header .hero h1{
      font-size: 2.5em;
      
  }

  section{
      height: 100%;
  }

  .about{
      flex-direction: column;
      margin-top: 5rem;
  }

  .about .text .title h1{
      font-size: 2.5em;
  }

  .skills-section{
      flex-direction: column-reverse;
      margin-top: 5rem;
  }

  .skills-section .text h1{
      font-size: 2.5em;
  }

  .project-section{
    height: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 35rem;
  }

  .project{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .project-section .title h1{
    font-size: 2em;
  }
}

@media (min-width: 769px) and (max-width: 1024px){

  

  header nav .navList ul{
      font-size: 0.9em;
  }

  header .hero h1{
      font-size: 4em;
  }

  section{
      height: 100%;
      padding: 8rem 2rem;
  }

  .skills-section{
      gap: 0;
  }

  .skills-section .images{
      padding: 1rem 2rem;
  }

  .project-section{
  }

  .project{
    gap: 1rem;
  }

  .project .card .btn-card button{
    width: 7rem;
    height: 1.8rem;
    font-size: 0.7em;
  }
}